check host symbol-platform with address localhost
    group symbol
    start program = "/bin/systemctl start symbol-platform"
    stop  program = "/bin/systemctl stop  symbol-platform"
    if failed port 3000 protocol http
        and request /node/health with content = '"apiNode":"up","db":"up"'
        and within 3 cycles
        then restart
    if failed port 7900 within 2 cycles
        then restart
