[Unit]
Description=Symbol Platform Node Daemon
After=docker.service
[Service]
Type=simple
User={{ symbol_platform_username | default('root') }}
WorkingDirectory={{ symbol_platform_home_dir }}
ExecStartPre=/usr/bin/symbol-bootstrap stop
ExecStartPre=-/bin/rm target/nodes/api-node/data/broker.lock
ExecStartPre=-/bin/rm target/nodes/api-node/data/broker.started
ExecStartPre=-/bin/rm target/nodes/api-node/data/recovery.lock
ExecStartPre=-/bin/rm target/nodes/api-node/data/server.lock
ExecStart=/usr/bin/symbol-bootstrap run
ExecStop=/usr/bin/symbol-bootstrap stop
TimeoutStartSec=180
TimeoutStopSec=120
Restart=on-failure
RestartSec=60
PrivateTmp=true
[Install]
WantedBy=default.target
